<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="js/vendor/custom.modernizr.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/foundation.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
  </head>
  <body>

    <!-- accessing $rootScope -->
    <!--
    <input type="text" ng-model="name" placehlder="Enter your name">
    <h1>Hello, {{ name }}!</h1>
    -->

    <!-- ng-controller -->
    <div ng-controller="MyController">
      <input type="text" ng-model="person.name" placeholder="Enter your name">
      <h1>Hello, {{ person.name }}!</h1>
    </div>

    <div ng-controller="ParentController">
      <div ng-controller="ChildController">
        <input type="text" ng-model="person.name" placeholder="Name">
        <a ng-click="sayHello()">Say hello</a>
      </div>
      {{ person }}
    </div>

    <script>
      document.write('<script src=js/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js><\/script>');
    </script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/beginner.js"></script>
    <script type="text/javascript">
      $(document).foundation();
    </script>
  </body>
</html>